$primary--color: #9356dc;
$secondary--color: #ff79da;
$third--color: #99E2D0;
$white: white;

*{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

// Header Start
.header{
    padding: 8px;

    .logo{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 25%;
        }
}

// Header End

// Restaurant Image Start
.main__page__image img{
    width: 100%;
    height: 100;
}
// Restaurant Image End


.wrapped__container{
    padding: 0 20px;
    position: relative;
    top: -2rem;
    padding-top: 1.8rem;
    border-radius: 30px 30px 0 0;
    background: #f4f4f4f1;
}

// Menu Start
.menu__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 28px;
    font-size: 1.125rem;

    .menu-heart{
        font-size: 1.35rem;
    }
}

.underlined{
    border-bottom: 4px solid #99E2D0;
    width: 10%;
    padding-bottom: 4px;
}

.restaurant__title{
    font-family: 'Shrikhand', cursive;
    font-size: 1.35rem;
    font-weight: 800;
    text-align: left;
    padding-bottom: 12px;
}

.dish{
    background-color: white;
    position: relative;
    list-style-type: none;
    border: solid 1px white;
    border-radius: 0.8rem;
    margin: 0.8rem 0;
    padding: 0.8rem 1.2rem 0.7rem 0;
    padding: 16px;
}

.dish__name{
    margin-bottom: 0.4rem;
    font-weight: 800;
    font-size: 1.125rem;
}

.disc__description{
    margin-bottom: 0.4rem;
}

.dish__price{
    font-weight: bold;
    float: right
}

// Button Start
.order__button{
    display: flex;
    justify-content: center;

    button{
        border: none;
        background: linear-gradient($secondary--color, $primary--color);
        padding: 15px 20px;
        color: white;
        border-radius: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
        margin: 24px 0 32px 0;
        width: 180px;
        font-weight: 400;
    }
  }
// Button End

//Footer Start 
//Footer Start 
.footer__container {
    background-color: #2d2d2d;
    color: $white;
    font-size: 0.9rem;
    padding: 20px;
  
    .footer__title {
        font-family: 'Shrikhand', sans-serif;
        font-style: italic;
        font-size: 1.125rem;

        a{
            text-decoration: none;
            color: $white;
        }
    }
  
    .footer__content {
        margin-top: 12px;
      li {
        margin-bottom: 8px;
      }
  
      i {
        font-size: 0.7rem;
      }
  
      a {
        text-decoration: none;
        color: $white;
      }
    }
  
    .footer-icon {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }
  }
  // Footer End
// Footer End



// Desktop Version
@media screen and (min-width: 1024px){
    .header{
        width: 100%;
        .logo{
            display: flex;
            gap:40%;
        }
    }

    // Restaurant Image
    .main__page__image{
        height: 300px;

        img{
            height: 350px;
        }
    }
    // Restaurant Image End
    .wrapped__container{
        width: 80%;
        margin: 0 auto;
    }

    .underlined{
        width: 4%;
    }

    // Footer start
    .footer__container {
        display: flex;
        align-items: center;
        gap: 24px;
        flex-direction: row-reverse;
        
        .footer__content {
          display: flex;
          gap: 24px;
        }
      }
    // Footer End
}



/*# sourceMappingURL=bayleaf.css.map */