//Footer Start
.footer__container {
  background-color: #2d2d2d;
  color: $white;
  font-size: 0.9rem;
  padding: 20px;

  .footer__title {
    font-size: 20px;
    font-family: "Shrikhand", sans-serif;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-decoration: none;
  }

  .footer__content {
    li {
      margin-bottom: 8px;
    }

    i {
      font-size: 0.7rem;
    }

    a {
      text-decoration: none;
      color: $white;
    }
  }

  .footer-icon {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}
// Footer End

// Start tablet version
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: row-reverse;

    .footer__content {
      display: flex;
      gap: 24px;
    }
  }
}
// Desktop version
@media screen and (min-width: 1024px) {
  .footer__container {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: row-reverse;

    .footer__content {
      display: flex;
      gap: 24px;
    }
  }
}
