$primary--color: #9356dc;
$secondary--color: #ff79da;
$third--color: #99e2d0;
$white: white;

* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

// Header Start
.header {
  padding: 8px;

  .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__image {
      margin: 0 auto;
    }
  }
}
// Header End

// Restaurant Image Start
.main__page__image img {
  width: 100%;
  height: 100;
  object-fit: cover;
}
// Restaurant Image End

.wrapped__container {
  padding: 0 20px;
  position: relative;
  padding-top: 1.8rem;
  border-radius: 30px 30px 0 0;
  background: #f4f4f4f1;
}

// Menu Start
.menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 28px;
  font-size: 1.125rem;

  .btn {
    font-size: 1.5rem;
    transition: all 500ms;
    &:hover {
      background: linear-gradient(to top, $primary--color, $secondary--color);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      font-weight: bold;
      animation: heart 500ms ease-in-out forwards;
    }
  }

  @keyframes heart {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .heart__checkbox {
    display: none;
  }

  .heart__checkbox:checked + .heart__label {
    color: $primary--color;
    background-clip: text;
    background-clip: padding-box;
    background-clip: border-box;
    font-weight: bold;
    transform: scale(1.25);
  }

  .menu-heart {
    font-size: 1.35rem;
  }
}

.underlined {
  border-bottom: 4px solid #99e2d0;
  width: 4%;
  padding-bottom: 4px;
}

.restaurant__title {
  font-family: "Shrikhand", cursive;
  font-size: 1.35rem;
  font-weight: 800;
  text-align: left;
  padding-bottom: 12px;
}

.dish {
  background-color: white;
  list-style-type: none;
  border: solid 1px white;
  border-radius: 0.8rem;
  margin: 1rem 0;
  animation: showMenuItems 750ms cubic-bezier(0.7, 0.5, 0.9, 0.9) both;
  transform: scale(0);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  &:nth-child(1){
    animation-delay: 400ms;
  }
  &:nth-child(2){
    animation-delay: 800ms;
  }
  &:nth-child(3){
    animation-delay: 1200ms;
  }

  &__description {
    padding: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__price {
    font-weight: bold;
    align-self: flex-end;
    padding: 16px;
    margin-left: auto;
  }

  .meal__check {
    background-color: $third--color;
    color: white;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100px);
    width: 0;
    transition: all 500ms;
  }

  &:hover .meal__check {
    width: 80px;
    transform: translateX(0);
  }
}

// Keyframes Start
@keyframes showMenuItems {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
// Keyframes End

.dish__name,
.disc__description {
  margin-bottom: 0.4rem;
  font-weight: 800;
  font-size: 1.125rem;
}

// Button Start
.order__button {
  display: flex;
  justify-content: center;

  button {
    border: none;
    background: linear-gradient($secondary--color, $primary--color);
    padding: 15px 20px;
    color: white;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
    margin: 24px 0 32px 0;
    width: 180px;
    font-weight: 400;
  }
}
// Button End

// Like Button Start
button {
  border: none;
  background: linear-gradient($secondary--color, $primary--color);
  padding: 15px 20px;
  color: #fff;
  border-radius: 30px;
  margin: 24px 0 32px 0;
  &:hover {
    background-color: #fff;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.3);
    opacity: 0.925;
  }

  a {
    text-decoration: none;
    color: $white;
  }
}
// Like Button End

// Desktop Version
@media screen and (min-width: 1024px) {
    .logo {
      display: flex;
    }
  // Restaurant Image
  
  .main__page__image {
    height: 300px;

    img {
      height: 350px;
    }
  }
  // Restaurant Image End
  .wrapped__container {
    width: 80%;
    margin: 0 auto;
    max-width: 1024px;
  }

  .underlined {
    width: 4%;
  }
}

// Tablet Version
@media screen and (min-width: 768px) {
  .main__page__image {
    img {
      height: 70vh;
    }
  }

  .restaurant__title {
    margin: 0 auto;
    font-size: 2.75rem;
  }
}

/*# sourceMappingURL=bayleaf.css.map */
