$primary--color: #9356dc;
$secondary--color: #ff79da;
$third--color: #99e2d0;
$white: #fff;

html{
  font-family: 'Roboto', sans-serif;
}

// Loading Circle
.loading{
  animation: Disappear 1s ease-out 1.6s;
  animation-fill-mode: forwards;

  .loading__circle::before{
    z-index: 10;
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 4rem;
    width: 4rem;
    margin: -2.5rem -2.5rem;
    border-radius: 50%;
    border: 6px solid $primary--color;
    border-top-color: $secondary--color;
  }
}

@keyframes Disappear{
  0%{
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
}
// Loading Circle end


//Header Start
.logo__header {
  width: 100%;
  .logo {
    text-align: center;
    img {
      width: 60%;
      padding: 16px;
    }
  }
}
// Header End

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  gap: 8px;
  padding: 8px;
}

.explore__container {
  background-color: rgba(247, 247, 247, 0.934);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  h2 {
    font-weight: 800;
    font-size: 1.25rem;
    margin-top: 24px;
    font-family: Roberto, sans-serif;
  }

  p {
    margin-top: 24px;
    width: 80%;
    text-align: center;
  }

  button {
    border: none;
    background: linear-gradient($secondary--color, $primary--color);
    padding: 15px 20px;
    color: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.14);
    margin: 24px 0 32px 0;

    a{
      text-decoration: none;
      color: $white;
    }
  }
}

// How it works start
.explanation {
  background-color: $white;
  height: 300px;

  h2 {
    font-weight: 800;
    font-size: 1.25rem;
    margin: 12px 0 12px 16px;
  }

  .button__selection__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 24px;

    .card {
      width: 75%;
      border-radius: 15px;
      border: none;
      padding: 20px;
      padding-left: 30px;
      background: #f4f4f4;
      display: flex;
      gap: 20px;
      position: relative;
      white-space: nowrap;
    }

    .button__title{
      font-weight: bold;
    }

    .button__number {
      position: absolute;
      transform: translateY(-50%);
      left: -10px;
      top: 50%;
      background-color: $primary--color;
      border-radius: 50%;
      color: $white;
      //   padding: 3px 5px;
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .icon {
      color: $primary--color;
    }
  }
}
// How it works end

// Restaurants start
.restaurant__container {
  background-color: rgba(248, 240, 240, 0.913);
  padding: 20px 0;

  .restaurant__title {
    font-size: 1.125rem;
    font-weight: 800;
    margin: 24px 0;
  }
}

.venue__container {
  padding-inline: 20px;
  margin-top: 28px;

  .restaurant__venue {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin: 24px 0;

    img {
      width: 100%;
      height: 136px;
      border-radius: 20px 20px 0 0;
      object-fit: cover;
    }

    .card-content {
      padding: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .card-subtitle {
        padding-top: 8px;
      }

      .card-txt {
        .card-title {
          font-weight: bold;
          margin-bottom: 8px;
        }
      }

      i {
        font-size: 24px;
      }
    }
  }
}

//Footer Start 
.footer__container {
  background-color: #2d2d2d;
  color: $white;
  font-size: 0.9rem;
  padding: 20px;

  .footer__title {
    font-size: 24px;
    font-family: 'Shrikhand', sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .footer__content {

    li {
      margin-bottom: 8px;
    }

    i {
      font-size: 0.7rem;
    }

    a {
      text-decoration: none;
      color: $white;
    }
  }

  .footer-icon {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}
// Footer End

// Restaurants end

// Start tablet version
@media screen and (min-width: 768px) {
  .logo__header {
    width: 100%;

    img {
      max-width: 200px;
    }
  }

  .explanation {
    padding: 30px;
    height: 280px;

    .button__selection__container {
      display: flex;
      flex-direction: column;
    }
  }

  .restaurant__container {
    .venue__container > div {
      display: flex;
      gap: 40px;
      flex-wrap: wrap;

      .restaurant__venue {
        margin: 0;
        flex: 1 1 40%;
      }
    }
  }

  .footer__container {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: row-reverse;
    
    .footer__content {
      display: flex;
      gap: 24px;
    }
  }
}
// Desktop version
@media screen and (min-width: 1024px) {
  .logo__header {
    width: 100%;

    img {
      max-width: 200px;
    }
  }

  .explanation {
    padding: 30px;
    height: 120px;

    .button__selection__container {
      display: flex;
      flex-direction: row;
    }
  }

  .restaurant__container {
    .venue__container > div {
      display: flex;
      gap: 40px;
      flex-wrap: wrap;

      .restaurant__venue {
        margin: 0;
        flex: 1 1 40%;
      }
    }
  }

  .footer__container {
    display: flex;
    align-items: center;
    gap: 24px;
    flex-direction: row-reverse;
    
    .footer__content {
      display: flex;
      gap: 24px;
    }
  }
}
